body{
    margin: 10px;
    padding: 20px;
}

.card{
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
}

#formTodo{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
}

h1{
    text-align: center;
    color: white;
}

h3{
    text-align: center;
    color: white;
}

#btnTambahTodo{
    background-color: green;
    border: none;
    color: white;
}

li{
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

li span{
    font-size: 18px;
}

li button{
    padding: 5px 10px;
    cursor: pointer;
}

.deadline{
    min-width: 180px;
}